.row
  .col-md-3
    = render('apps/apps_menu')
  .col-md-9
    .well
      = render('apps/app_tab')
      .tab-content
        .tab-pane.active.app-show-content
          = render('upload_types')

          %p.help-block= t('dropbox.connect_help')

          = link_to t('dropbox.connect'),
                    app_dropbox_path(@app),
                    class: 'btn btn-default'