%h2= t('apps.admin.title')
%hr

%ul.nav.nav-pills.nav-stacked.apps-nav
  - @apps.each do |app|
    = nav_tab(:id, :app_id, app.subdomain) do
      = link_to(admin_app_path(app)) do
        %h5{ style: 'word-wrap: break-word;' }
          = icon(app.show_on_main_page ? 'globe' : 'shield', app.name)
          %small
            = app.subdomain
