%header.navbar.navbar-default.navbar-fixed-top
  .locale.btn-group.btn-group-xs.navbar-btn
    = locale_link(:pl)
    = locale_link(:en)
  .container
    .navbar-header
      %button.navbar-toggle{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-responsive-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to @app.name, root_path, class: 'navbar-brand'

    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to omniauth_authorize_path(resource_name, :open_id) do
            = icon('sign-in', t('plgrid_sign_in'))



