%li
  .timeline-badge
    = icon('cloud-upload')
  .timeline-panel
    .timeline-heading
      %h4.timeline-title
        = activity.author.name
        %small= t("activity.#{activity.activity_type}")
    .timeline-body
      - unless activity.message.blank?
        = activity.message
