%legend
  = t('apps.title')
  = link_to new_app_path,
            class: 'btn btn-primary btn-xs pull-right',
            id: 'add_app',
            title: t('apps.new') do
    = icon('plus', t('add_new'))

%ul.nav.nav-pills.nav-stacked
  - @apps.each do |app|
    %li
      = link_to app do
        = app.name
        %small.text-muted
          = app.subdomain
