%h2= t('apps.title')
%hr

= link_to new_app_path,
  class: 'btn btn-sm btn-create add_app',
  title: t('apps.new') do
  = icon('plus', t('add_new'))

%ul.nav.nav-pills.nav-stacked
  - @apps.each do |app|
    %li
      = link_to app do
        %h4
          = app.name
        %h6
          = app.subdomain
