%legend
  = t('apps.title')
  = link_to new_app_path,
            class: 'btn btn-primary btn-xs pull-right',
            id: 'add_app',
            title: t('apps.new') do
    = icon('plus', t('add_new'))

.list-group
  - @apps.each do |app|
    .list-group-item
      .row-action-primary
        %i.mdi-file-folder
      .row-content
        %h4.list-group-item-heading
          = link_to app do
            = app.name
        %p.list-group-item-text
          = app.subdomain


