.row
  .col-md-3
    = render('apps_menu')
  .col-md-9
    .well
      = render('app_tab')
      .tab-content
        .tab-pane.active
          = link_to t('download'), [:download, @app]

          = simple_form_for @app do |f|
            = f.input :content
            = f.submit
