.row
  .col-md-3
    = render('apps_menu')
  .col-md-9
    .well
      = render('app_tab')
      .tab-content
        .tab-pane.active.app-show-content
          = link_to t('download'), [:download, @app]
          = link_to t('push'), [:push, @app], method: :put

          = simple_form_for @app do |f|
            = f.input :content
            = f.submit
