.row
  .col-md-3
    = render('apps_menu')
  .col-md-9
    .well
      %h4
        = t('apps.edit')
        .pull-right
          .btn-group
            %button#save-app.btn.btn-sm.btn-create{ title: t('apps.save') }
              = icon('save', t('save'))
            :javascript
              $(function() {
                $('#save-app').on('click', function() {
                  $('#app_form').submit();
                });
              });
            = link_to t('cancel'), @app,
                      class: 'btn btn-sm btn-default',
                      title: t('cancel')
      %hr

      = render('form', app: @app)