.row
  .col-md-3
    = render('apps_menu')
  .col-md-9
    .well
      %h4
        =link_to root_url(subdomain: @app.full_subdomain) do
          = @app.name
          %span.text-muted (#{with_subdomain(@app.full_subdomain)})
        .pull-right
          .btn-group
            = link_to t('edit'), [:edit, @app],
                      class: 'btn btn-sm btn-success',
                      title: t('apps.edit')
            = link_to t('delete'), @app, method: :delete,
                      class: 'btn btn-sm btn-danger',
                      data: { confirm: t('apps.are_you_sure') },
                      title: t('apps.delete')
      %hr

      %ul.nav.nav-tabs#tabs1
        %li.active
          %a(href='#login-tab' data-toggle='tab')
            = t('apps.login_tab')
        %li
          %a(href='#files-tab' data-toggle='tab')
            = t('apps.files_tab')

      .tab-content
        #login-tab.tab-pane.active.app-show-content
          %p
            = markdown(@app.login_text)
        #files-tab.tab-pane.app-show-content
          = link_to t('download'), [:download, @app]

          = simple_form_for @app do |f|
            = f.input :content
            = f.submit
