%header.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .locale.btn-group.btn-group-xs.navbar-btn
    = locale_link(:pl)
    = locale_link(:en)
  .container
    .navbar-header
      %button.navbar-toggle{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-responsive-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("navbar-logo2.png", :border=>0, id: 'navbar-logo'), root_path

    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li
          = link_to t('code_name'), root_path
        - if user_signed_in?
          %li
            = nav_link(controller: :apps) do
              = link_to t('apps.title'), apps_path
          - if current_user.admin?
            = nav_link(controller: :jobs) do
              = link_to t('jobs.title'), job_path
        %li
          = nav_link controller: :help do
            = link_to t('help.title'), help_path,
                      data: { placement: 'bottom' },
                      title: t('help.title')
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a
              = current_user.name
          %li
            = link_to destroy_user_session_path,
                      data: { placement: 'bottom' },
                      title: t('logout'), method: :delete do
              = icon('sign-out')
        - else
          %li
            = link_to user_omniauth_authorize_path(:open_id) do
              = icon('sign-in', t('plgrid_sign_in'))
